/* import font style */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffcbcb;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.39' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: "Rybik", sans-serif;

}

.copyRight {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 3rem;
    color: rgb(2, 51, 2);
}

/* loader */
.loader {
    /* 讓 .loader及背景滿版至中 */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(225, 225, 225, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* form */

.api-text{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    letter-spacing: 2px;

}
label, 
input,
button{
    margin-top: 10px;
    margin-right: 1rem
}

input{
    cursor: pointer;
    padding: 0 1.8rem;
    height: 1.5rem;
    border-radius: 10px;
}

button {
    cursor: pointer;
    padding: 0 1.8rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    background: rgb(43, 63, 60);
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
    transition: color 250ms, filter 250ms;
}
button:hover {
    filter: brightness(110%);
    color: rgb(255, 196, 2);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

/* img */
.img-container {
    margin: 10px 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-card {
    max-width: 300px;
    width: 33.3%;
}

/* crop img fit to center */
.img-card img {
    border-radius: 15px;
    height: 300px;
    object-fit: cover;
    width: 98%;
    margin: 1px 5px;
    object-position: 50% 50%;
}


@media screen and (max-width:1000px) {
    .img-container {
        margin: 10px 5%;
    }

    .img-card {
        min-width: 100%;
    }
    .img-card img {
        height: auto;
        object-fit: unset;
        width: 100%;
        margin: 1px 5px;
        object-position: unset
    }
}

/* Media Query : iphone XR */
@media screen and (max-width:415px) {
    h1 {
        font-size:14px;
        line-height: 1.5rem;
    }
    .api-text{
        font-size: 10px;
    }
    input{
        padding: 0 1rem;
        height: 1rem;
        border-radius: 8px;
        margin-right: 1rem;
        margin-top:1rem;
    }
    button {
        padding: 0 1rem;
        height: 1.3rem;
        border-radius: 8px;
        box-shadow: 0 0.2rem rgba(121, 121, 121, 0.65);
        transition: color 250ms, filter 250ms;
        margin-top:1rem;
    }
    .copyRight {
        font-size: 8px;

    }
}